* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.similar-h1{
    font-family: Merriweather;
    font-size: 3.5vw;
    font-weight: 900;
    line-height: 60px;
}

.similar-h6{
    color: red;
    font-family: Inter;
    font-size: 2vw;
    font-weight: 500;
    line-height: 29px;
}

.similar-p{
    font-family: Inter;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 32px;
    color:#07021199;
}

.banner {
    width: 83vw;
    background-image: linear-gradient(to bottom,#070211, #07021100),url('Banner\ Image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 7vh auto;
    height: 80vh;
    text-align: center;
    color: white;
    font-family: Merriweather;
    border-radius: 0.83vw;
}

.banner-container {
    padding: 23vh 15vw;
}

.banner-container > h3 {
    font-size: 2.4vw;
    line-height: 40.22px;
    font-weight: 400;
}

.banner-container h1 {
    font-size: 4.6vw;
    line-height: 95px;
    font-weight: 900;
}

.all-categories {
    width: 55vw;
    height: 119vh;
    margin: 13vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
}

.all-categories img {
    width: 100%;
    height: auto;
    padding: 6vh 0 0 0;
}

.all-categories h1 {
    color: #FF0000;
    font-size: 6.8vw;
    font-weight: 700;
    line-height: 106.5px;
}

.all-categories h6 {
    padding: 6vh 0 0 0;
}

.all-categories h2 {
    color: black;
    font-size: 3.5vw;
    font-weight: 700;
    padding: 1.4vh 0 0 0;
    line-height: 58.09px;
}

.welcome {
    width: 83vw;
    height: 80vh;
    background-image:linear-gradient(to right,#070211, #07021100),url(Vectorrr.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 140vh 0 0 0;
    color: white;
    border-radius:0.83vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.welcome-text h1{
    font-family: Merriweather;
    font-size: 5vw;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 0.11em;
}

.welcome-text p{
    color: #FFFFFFCC;
    font-family: Inter;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 30px;
    padding: 3vh 0;
}

.welcome-text button{
    font-family: Inter;
    font-size: 1.7vw;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid black;
    color: white;
    position: absolute;
    padding: 3vh 0;
}

.welcome-text button:hover{
    color:rgb(253, 193, 81);
    font-size: 1.9vw;
    transition-duration: 0.5s;
}

.welcome-img img{
    width: 20vw;
    height: 60vh;
}

.invite{
    width:83vw;
    height:80vh;
    margin: 13vh 0 0 0;
    background: linear-gradient(to bottom,#fddede, #FF000000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-details {
    color:black; 
    font-weight: 600;
    font-family: Inter;
    text-align: center;
    line-height: 56px;
}

.event-details p {
    font-size: 2.5vw;
    margin-bottom: 1.5vh;
}

.event-details span {
    color: #FF0000;
    font-weight: 700;
}

.event-details .place {
    margin-right: 10px;
}

.join-invite{
    width: 12vw;
    height: 10vh;
    font-family: Inter;
    font-size: 1.7vw;
    font-weight: 700;
    background-color: red;
    border: 1px solid red;
    color: white;
    text-align: center;
    border-radius: 1vw;
}

.join-invite:hover{
    background-color: green;
    font-size: 1.8vw;
    transition-duration: 0.5s;
    border: 1px solid green;
}

.new-best-offer{
    width:83vw;
    height:80vh;
    margin: 13vh 0 0 0;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-coming-soon h1{
    padding: 3vh 0;
}

.middle-img img {
    width: 28vw;
    height: 57vh;
    border: 10px solid red;
    border-radius: 50%;
    padding: 2vw;
}

.right-2024 h1{
    font-family: Inter;
    font-size: 3.5vw;
    font-weight: 700;
    line-height: 58px;
    color: red;
}

.right-2024 img{
    width: 10vw;
    height: 15vh;
}

.awesome-portfolio{
    width:83vw;
    height:155vh;
    margin: 13vh 0 0 0;
    background-color:white;
}

.awesome-portfolio h1{
     padding: 3vh 0;
}

.portfolio-img-row1{
    display: flex;
    justify-content: space-between;
    padding: 7vh 0 0 0;
}

.portfolio-img-row2{
    display: flex;
    justify-content: space-between;
    padding: 3vh 0;
}

.portfolio-img img{
    width: 26.7vw;
    height: 55vh;
}

.portfolio-img img:hover {
box-shadow: 0px 9px 30px rgba(218,102,123,1);
    border-radius: 50%;
    transition-duration: 0.7s;
}

.newsletter-section{
    width:83vw;
    height:80vh;
    margin: 13vh 0 0 0;
    background-color: #FF00000D;
}

.newsletter-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-content img{
    padding: 5vh 0;
}

.newsletter-content .first-p{
    padding: 2.5vh 0 0 0;
}

.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
}

.subscribe-input input{
    width: 28vw;
    height: 9.5vh;
    border: 1px solid white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 1.2vw;
    font-family: inter;
    font-weight: 400;
    padding: 0 2vw;
}


.subscribe-btn button{
    width: 11vw;
    height: 9.5vh;
    background-color: red;
    color: white;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.3vw;
    font-family: inter;
    font-weight: 600;
}

.subscribe-btn button:hover{
    background: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    color: black;
    transition-duration: 0.7s;
    font-size: 1.5vw;
}

footer{
    background-color: black;
    width: 100%;
    height: 80vh;
    margin: 13vh 0 0 0;
    color: white;
    font-family: Inter;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 40px;
}

.address{
    display: flex;
    justify-content: space-around;
    padding: 10vh 0;
}

.online-address-container{
        display: flex;
        align-items: center;
        gap: 1vw;
    }

.online-address-img{
    padding: 2vh 0 0 0;
}
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-media-container img {
    width: 3.5vw;
    height: 7.5vh;
    margin: 0 0.5vw; 
}

.social-media-container img:hover{
    background-image: linear-gradient(43deg, #022cff 0%, #f903e9 46%, #f9a202 100%);
    transition-duration: 0.5s;
    padding: 0.2vw;
    border-radius: 50%;
}

.social-media hr {
    width: 70%;
    border: 1px solid #FFFFFF26;
}

.copyright-unsubscribe{
    display: flex;
   justify-content: space-around;
}

.copyright-unsubscribe .copyright{
    padding: 16vh 11vw 0 0 ;
}

.copyright-unsubscribe .unsubscirbe-btn{
    padding: 16.5vh 0 0 0;
}

.unsubscirbe-btn button{
     font-family: Inter;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 40px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.unsubscirbe-btn button:hover{
    color: red;
    transition-duration: 0.5s;
}